.nimbleHeader {
    margin: 20px;
}

.nimbleHeader .title {
    color: #63b220;
    font-size: 24px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-family: Helvetica, Arial, Sans-Serif;
}

.nimbleHeader .subtitle {
    font-size: 22px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.nimbleStepBox {
    background-color: #ffffff;
    margin: 20px;
    padding: 0;
}
#content.bootstrap .nimbleStepBox h3 {
    background-color: #6cc023;
    color: #ffffff;
    font-size: 14px;
    padding: 0 20px;
    margin: 0;
    font-family: Helvetica, Arial, Sans-Serif;
}

#content.bootstrap .nimbleStepBox img.logo{
    float: left;
    height: 32px;
    margin: 20px;
}

#content.bootstrap .nimbleStepBox .contentStep {
    padding: 20px;
}

#content.bootstrap .nimbleStepBox .contentStep .subtitle{
    font-weight: bold;
}

#content.bootstrap .nimbleStepBox .contentStep img.link{
    margin-left: 14px;
    height: 16px;
}

#content.bootstrap .nimbleStepBox .contentStep a.btn{
    color: #63b220;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

#content.bootstrap .nimbleStepBox .contentStep .form-group label {
    text-transform: uppercase;
}

#content.bootstrap .nimbleStepBox .contentStep .form-footer {
    text-align: right;
}

#content.bootstrap .nimbleStepBox .contentStep #module_form_submit_btn, #content.bootstrap .nimbleAuthorize #authorize_btn {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 16px 25px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  background-color: #65be00;
  border: 1px solid #65be00;
  border-radius: 25px;
  height: auto;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  width: auto;
  box-shadow: none;
}

.nimbleAuthorize {
    background-color: #ffffff;
    margin: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.nimbleAuthorize .title {
    color: #63b220;
    font-size: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, Sans-Serif;
}
.nimbleAuthorize .separator {
    margin: 0 auto;
    width: 300px;
    border-top: 1px solid #63b220;
}

.nimbleAuthorize .box {
    font-size: 14px;
    padding: 20px;
}

.nimbleAuthorize .box .logo {
    margin-bottom: 20px;
}