.nimbleHeader {
    margin: 20px;
}

.nimbleHeader .title {
    color: #63b220;
    font-size: 24px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    font-family: Helvetica, Arial, Sans-Serif;
}

.nimbleHeader .subtitle {
    font-size: 22px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.nimbleStepBox {
    background-color: #ffffff;
    margin: 20px;
    padding: 0;
}
#content.bootstrap .nimbleStepBox h3 {
    background-color: #6cc023;
    color: #ffffff;
    font-size: 14px;
    padding: 0 20px;
    margin: 0;
    font-family: Helvetica, Arial, Sans-Serif;
}

#content.bootstrap .nimbleStepBox img.logo{
    float: left;
    height: 36px;
    margin: 20px;
}

#content.bootstrap .nimbleStepBox .contentStep {
    padding: 20px;
}

#content.bootstrap .nimbleStepBox .contentStep .subtitle{
    font-weight: bold;
}

#content.bootstrap .nimbleStepBox .contentStep img.link{
    margin-left: 14px;
    height: 20px;
}

#content.bootstrap .nimbleStepBox .contentStep a.btn{
    color: #63b220;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

#content.bootstrap .nimbleStepBox .contentStep .form-group label {
    text-transform: uppercase;
}

#content.bootstrap .nimbleStepBox .contentStep .form-footer {
    text-align: right;
    margin-top: 49px
}

#content.bootstrap .nimbleStepBox .contentStep .form-footer-2 {
  text-align: right;
  margin-top: 25px;
  margin-right: 56px;
}

#content.bootstrap .nimbleStepBox .contentStep #module_form_submit_btn, #content.bootstrap .nimbleAuthorize #authorize_btn, #content.bootstrap .nimbleAuthorize #unauthorize_btn {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 16px 25px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  background-color: #65be00;
  border: 1px solid #65be00;
  border-radius: 25px;
  height: auto;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  width: auto;
  box-shadow: none;
}

#module_form_cancel_btn {
  color: #65be00;
  font-size: 14px;
  font-weight: bold;
  padding: 16px 25px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  background-color: #fff;
  border: 1px solid #65be00;
  border-radius: 25px;
  height: auto;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  width: auto;
  box-shadow: none;
  cursor: pointer;
}

.nimbleAuthorize {
    background-color: #ffffff;
    margin: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.nimbleAuthorize .title {
    color: #63b220;
    font-size: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-family: Helvetica, Arial, Sans-Serif;
}

.nimbleAuthorize .separator {
    margin: 0 auto;
    width: 300px;
    border-top: 1px solid #63b220;
}

.nimbleAuthorize .box {
    font-size: 14px;
    padding: 20px;
}

.nimbleAuthorize .box .logo {
    margin-bottom: 20px;
}

#nimble-step-2-form {
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #EFF1F2;
  width: 91%;
}

div#nimble-content-form, div#nimble-content-form-2 {
  margin-left: 6%;
  margin-right: 6%;
  background-color: #EFF1F2;
}

div#nimble-content-form-2 {
  height: 200px;
}

div#nimble-content-form-2 #faster-div {
  padding: 5px;
  padding-left: 25px;
}

div#nimble-content-form label {
  font-weight: normal;
}

div#nimble-content-form table td.label-nimble-table {
  padding-top: 5px;
  padding-left: 26px;
  width: 132px;
}

div#nimble-content-form table td.input-nimble-table {
  font-weight: bold;
  width: 84%;
}

.form-group-enabled .input-nimble-table input {
  padding-left: 20px;
}

div#nimble-content-form table tr {
  height: 36px;
}

div#nimble-content-form table tr:last-child {
  margin-bottom: 22px;
}

.form .radio input[type="radio"] {
    margin-left: -35px;
    display: none;
}

.form .radio label {
    color: #383839;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    position: relative;
    padding-left: 8px;
    font-weight: bold;
}

.form .radio input[type="radio"]:checked + label::before {
    background-color: #fff;
    border: 5px solid #515155;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.form .radio label::before {
    background-color: #fff;
    border: 1px solid #515155;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    content: "";
    display: inline-block;
    position: absolute;
}

.form .radio .label-text span {
    margin: 0 0 0 1.5rem;
    display: inline-block;
}

#faster-div > div {
  font-weight: bold;
}

#faster-div > div:first-child {
  text-transform: uppercase;
}

#faster-div > div:last-child {
  padding-left: 55%;
  font-weight: normal;
  font-style: italic;
}

#faster-div .radio {
  float: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

green {
  font-weight: bold;
  color: #6cc023;
}

.nimbleHeader ul {
  list-style-image: lower-alpha;
}

.nimbleHeader ul {
  margin: 0;
}

.nimbleHeader ul.nimble-ul {
  list-style-type: none;
}

.nimbleHeader ul.nimble-ul > li {
  height: 25px;
}

.nimbleHeader ul.nimble-ul > li:before {
  color: #6cc023;
  margin-right: 3px;
  content: "►";
}

span#question-icon {
  background-color: #fff;
  border: 2px solid #6cc023;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

span#question-icon::before {
  margin: 0px 7px 0px 5px;
  content: "?";
  font-weight: bold;
  color: #6cc023;
}

.fastercheckout-enable-page span {
    padding-left: 20px;
}

#nimble-content-info {
	float: left;
}

#nimble-label-option {
	float:left;
}

#nimble-content-info.radio.col span {
	padding-left: 5px;
    padding-right: 10px;
    font-style: italic;
    font-size: 95%;
}

@media (max-width: 980px) {
	#faster-div > div:last-child {
		float: left;
		padding-left: 0px;
		margin-top: 15px;
	}
	div#nimble-content-form-2 {
		height: 200px;
	}
}