.nimbleHeader{
  margin: 5px 10px 10px 10px !important;
}

.nimbleHeader .text-box {
  background: #EEEFEC;
  border-radius: 4px;
  font-family: arial;
}

.nimbleHeader .img-box{
  margin-bottom: 10px;
}

.nimbleHeader .text-box .padding {
  padding: 20px;
}

.nimbleHeader .text-box .title {
  color: #29BC1F;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-family: arial;
}

.nimbleHeader .text-box .text {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0 10px;
  color: black;
}

.nimbleHeader .text-box .btn {
  display: block;
  margin-top: 5px;
  text-align: center;
}

.nimbleHeader .iblock, .nimbleHeader .btn {
  display: inline-block;
  vertical-align: middle;
}

.nimbleHeader .btn {
  padding: 0;
  overflow: hidden;
}

.nimbleHeader .text-box .btn {
  display: inline-block;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.nimbleHeader .text-box .btn .link {
  border-radius: 35px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -1px;
  margin: 0 auto;
  width: 200px;
  padding: 12px;
}

.nimbleHeader .btn .link {
  color: #fff;
  display: block;
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  background-color: #65be00;
  border: 1px solid #65be00;
  border-radius: 4px;
  height: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: auto;
}

#content.bootstrap  #nimble-form .panel {
  border: 1px solid #EEEFEC;
  border-radius: 4px;
  margin-bottom: 20px;
  box-shadow: none;
}

#content.bootstrap  #nimble-form .panel-heading {
  border-left: 8px solid #65be00;
  border-bottom: none;
  margin-bottom: 0;
  display: block;
  font-size: 18px;
  line-height: 3px;
  padding: 30px 0px 30px 20px;
  text-transform: uppercase;
  font-family: arial !important;
  margin-bottom: 20px;
  margin-left: -20px;
}

#content.bootstrap  #nimble-form .panel-heading i{
  display: none;
}

#content.bootstrap  #nimble-form .form-group{
  width: 100%;
}

#content.bootstrap  #nimble-form .form-horizontal .control-label{
  text-align: left;
  width: 100%;
  text-transform: uppercase;
  font-family: arial !important;
  color: #383839;
  margin-bottom: 8px;
  font-weight: bolder;
}

#content.bootstrap  #nimble-form .form-horizontal input{
  color: #818287;
  display: block;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 10px;
  background-color: #fdfdfd;
  border: 1px solid #b5b5b5;
  height: 50px;
}

#content.bootstrap  #nimble-form {

}

#content.bootstrap  #nimble-form select {

  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance:none;
  -moz-appearance: none;
  width: 50% !important;
  background: url(../img/deplegable.png) no-repeat 98% center, -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e5e5e5));
  background: url(../img/deplegable.png) no-repeat 98% center, -webkit-linear-gradient(#f4f4f4, #e5e5e5);
  background: url(../img/deplegable.png) no-repeat 98% center,linear-gradient(#f4f4f4, #e5e5e5);
  color: #515155;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
  padding: 12px 12px;

  border: 1px solid #b5b5b5;
  border-radius: 4px;
  display: block;
  height: 50px;
  overflow: hidden;
  position: relative;
}

#content.bootstrap  #nimble-form .panel-footer{
  border: none;
  background-color: transparent;
}

#content.bootstrap  #nimble-form [class^="process-icon-"]{
  display: none;
}

#content.bootstrap  #nimble-form #module_form_submit_btn {
  color: #fff;
  display: block;
  font-size: 12px;
  padding: 16px 25px;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  background-color: #65be00;
  border: 1px solid #65be00;
  border-radius: 4px;
  height: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  width: auto;
  box-shadow: none;
}


.paiement_block .nimblepayment img{
  float: right;
  width: 330px;
  height: 35px;

}

p#block_top_title{  
  margin-top: 15px;
  margin-bottom: -30px;
}

.button-registration{
    text-align: center;
}

@media screen and (max-width: 500px) {
  .paiement_block .nimblepayment img{
    width: 230px;
    height: 25px;
  }
}
@media screen and (max-width: 390px) {
  .paiement_block .nimblepayment img{
    width: 165px;
    height: 18px;
  }
}

#nimble-refund-panel{
    margin-top: -150px;
    padding-top: 150px
}

#refund-form-wrapper{
    min-width: 300px;
    margin: 0 5% 2% 2%;
}

#refund-form-list{
    vertical-align: top;
    border: 1px solid #d3d8db;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    #refund-form-list {
        width: 100% !important;
    }
}
#refund-form-list h3{
    margin: 0 10px !important;
}

.form label {
    display: block;
    margin: 0 0 1rem 0;
    position: relative;
}

.form label.label-hide .box-error {
    top: 4.3rem
}

.form label .label-text {
    display: inline-block;
    vertical-align: middle;
    color: #383839;
    font:normal 0.8rem / 100% Arial;
    margin-bottom: .9rem;
}

@media screen and (min-width:744px) {
    .form label .label-text {
        margin: 6px .5rem 0.5rem 0
    }
}

#refund-form-wrapper .form label input {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    -ms-transition: border-color .5s ease;
    transition: border-color .5s ease;
    background-color: #fdfdfd;
    border: 1px solid #b5b5b5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height:31px !important;
    width: 100%;
    color: #383839;
    display: block;
    font: normal 100% / 1.2rem Arial !important;                  
    padding:0 0 0 1.2rem;
}

#refund-form-wrapper .form label input:focus,
#refund-form-wrapper .form label input:hover {
    border: 1px solid #515155;
    box-shadow: none;
    outline: 0
}



#refund-form-wrapper .form label input[disabled],
#refund-form-wrapper .form label textarea[disabled] {
    background-color: #f4f4f4!important;
    color: #b5b5b5!important
}

#refund-form-wrapper .form label input[disabled]:focus,
#refund-form-wrapper .form label input[disabled]:hover {
    border: 1px solid #b5b5b5!important
}



.form .radio-col {
    display: block;
    margin-bottom: 3rem
}

.form .radio-col fieldset {
    margin-bottom: 0
}

.form .radio-col fieldset .legend-2 {
    color: #383839;
    display: block;
    font: 200 1.2rem / 1.9rem Arial;
    margin: 0 0 1rem
}

@media screen and (min-width:744px) {
    .form .radio-col fieldset .legend-2 {
        display: inline-block;
        margin: 0 5% 0 0;
        width: 70%
    }
}

@media screen and (min-width:999px) {
    .form .radio-col fieldset .legend-2 {
        margin: 0 1.2rem 0 0;
        width: 63.5rem
    }
}

.form .radio {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 2.5rem 1rem 2.4rem;
    min-height: inherit;
    padding: 0
}

.form .radio label {
    color: #383839;
    cursor: pointer;
    display: inline-block;
    font: 200 1.1rem/100% Arial;
    margin-bottom: 0;
    position: relative;
}

.form .radio label:before {
    background-color: #fff;
    border: 1px solid #65be00;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    content: "";
    display: inline-block;
    position: absolute;
    left: -2.26rem
}

.form .radio .label-text {
    color: #383839;
    font:normal 100% / 1.2rem Arial;
}


.form .radio .label-text span {
    
    margin:0 0 0 -2rem;
    display:inline-block;
    
    
}

.form .radio input[type=radio] {
    margin-left:-35px;
    display: none;
}

.form .radio input[type=radio]:checked+label:before {
    border: 4px solid #65be00;
    font-size: 1.5rem;
    line-height: 1.5rem
}

.form .radio input[type=radio][disabled=disabled]+label:before {
    background-color: #e5e5e5;
    border: none
}

.form .radio input[type=radio][disabled=disabled]:checked+label:before {
    background-color: #fff;
    border: 9px solid #65be00
}
.form select{
    font: normal 100% / 1.2rem Arial !important;
}

#btn-refund-order{
    margin-top: 20px;
}
.form div.hidden{
    display:none;
}
/*Prestashop 1.5*/
.form.ps15 label{
    display: block;
    margin: 0 0 1rem 0;
    position: relative;
    float: none;
}
.form.ps15 label .label-text{
    float: left;
    vertical-align: middle;
    color: #383839;
    font: normal 0.8rem / 100% Arial;
    margin-bottom: .9rem;
}
.form.ps15 label select{
  float:left;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance:none;
  -moz-appearance: none;
  width: 109% !important;
  background: url(../img/deplegable.png) no-repeat 98% center, -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e5e5e5));
  background: url(../img/deplegable.png) no-repeat 98% center, -webkit-linear-gradient(#f4f4f4, #e5e5e5);
  background: url(../img/deplegable.png) no-repeat 98% center,linear-gradient(#f4f4f4, #e5e5e5);
  color: #515155;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
  padding: 12px 12px;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  display: block;
  height: 40px;
  overflow: hidden;
  position: relative;
}
.form.ps15 p.btn-autorize{
    padding: 10px;
    margin-top: 30px;
}
.form.ps15 p.btn-autorize #btn-refund-order{
    cursor: pointer;
}
.panel .ps15-title{
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
}
.form.ps15 .radio input[type=radio]:checked+label:before {
    border: 4px solid #65be00;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
}
.form.ps15 .radio label:before {
    background-color: #fff;
    border: 1px solid #65be00;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    content: "";
    display: inline-block;
    position: absolute;
    left: -2.26rem;
    padding: 3px;
    margin: 0;
}

.form.ps15 .radio .label-text {
    color: #383839;
    font:normal 100% / 1.2rem Arial;
    text-align: left;
    padding-left: 30px;
}

/* FASTER CHECKOUT BUTTONS */
.box-info-product #faster_checkout a {
    background-color: #65be00;
    background-size: 100% auto;
    border-color: #65be00;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    display: block;
    padding: 0;
    position: relative;
    text-align: center;
}

.box-info-product #faster_checkout a::before {
    bottom: 0;
    color: #fff;
    content: "ï„µ";
    font-family: "FontAwesome";
    font-size: 25px;
    right: 5px;
    line-height: 47px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px #419813;
    top: 10px;
    width: 51px;
    z-index: 2;
}

.box-info-product #faster_checkout a:focus, .box-info-product #faster_checkout a:active {
    text-decoration: none;
}

.box-info-product #faster_checkout span {
    border-color: #80f050;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    display: block !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    padding: 12px 60px 14px 36px;
    text-shadow: 0 1px #419813;
    transition: all 0.3s ease 0s;
}
#HOOK_SHOPPING_CART #faster_checkout {
    float: right;
    margin-left: 10px;
}