@font-face {
    font-family: 'nimble';
    src:    url('../fonts/icomoon.eot?819zld');
    src:    url('../fonts/icomoon.eot?819zld#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?819zld') format('truetype'),
        url('../fonts/icomoon.woff?819zld') format('woff'),
        url('../fonts/icomoon.svg?819zld#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-AdminNimbleConfig"], [class*="icon-AdminNimbleConfig"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-AdminNimbleConfig::before{
    font-family: 'nimble';
}

.icon-AdminNimbleConfig:before {
    content: "\e900";
}