@font-face {
    font-family: 'nimble';
    src:    url('../fonts/icomoon.eot?819zld');
    src:    url('../fonts/icomoon.eot?819zld#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?819zld') format('truetype'),
        url('../fonts/icomoon.woff?819zld') format('woff'),
        url('../fonts/icomoon.svg?819zld#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-AdminNimbleConfig"], [class*="icon-AdminNimbleConfig"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-AdminNimble::before{
    font-family: 'nimble';
}

.icon-AdminNimble:before {
    content: "\e900";
}
.icon-AdminNimbleConfig::before{
    font-family: 'nimble';
}

.icon-AdminNimbleConfig:before {
    content: "\e900";
}
#nimble-balance, #nimble-total-available{
    display: block;
    text-align: center;
    font-size: 1.7em;
}

.nimble-text{
    color: #65be00;
}

#dashnimbleactivity ul.data_list_vertical{
    border: none !important;
}

.text-authorize {
    text-align: center;
}
.btn-autorize {
    margin-top: 15px;
    text-align: center;
}

.btn-nimble{
    background-color: #65be00;
    color: #fff !important;
    text-transform: uppercase;
}
#nimble-payment-details-td, #nimble-payment-details-td:hover {
    background-color: #fff;
}
#nimble-payment-details {
    text-align: left;
    padding: 25px;
    border: solid 1px #dddddd;
    border-radius: 15px;
    margin: 0;
}
#nimble-payment-details table {
    width: 420px;
    margin: 0 0 0 auto;
}
#nimble-payment-details table th, #nimble-payment-details table td {
    text-align: right;
    padding: 5px 10px 10px 0;
    border: none;
}
#nimble-payment-details table td.nimble-empty {
    width: 10px;
}
#nimble-payment-details table td.nimble-date{
    width: 100px;
    text-align: left;
}
#nimble-payment-details table td.nimble-detail{
    width: 120px;
    text-align: left;
    font-weight: bold;
}
#nimble-payment-details table td.partial {
    border-top: solid 1px #ccc;
}
#nimble-payment-details table td.total {
    background: #ccc;
    font-weight: bold;
}
#nimble-payment-details table tr.card-info td{
    border-bottom: solid 1px #ccc;
    text-align: left;
}
#nimble-payment-details table tr.card-info td.title {
    font-weight: bold;
    padding-left: 10px;
    
}